{% extends "crud/base.html" %}

{% block content %}
     <h2 style="text-align: center; font-family: 'Roboto'; font-weight: bold">Login</h2>
    <div style="margin-bottom: 200px;"  >

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
       {% if form.errors %}<p style="color: red;"><strong>Your username and password didn't match. Please try again.</strong></p>{% endif %}<br>
      <div class="form-group">
          <label for="Username">Username:</label>
         <input type="text" class="form-control" id="username" placeholder = "Enter username" name="username"/>
      </div>
     <div class="form-group">
         <label for="Password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder= "Enter password" name="password"/></p>
     </div>
         <input style="background: #337ab7; color: #FFFFFF; border:none; border-radius: 8px; width: 53px; height: 30px;" type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    </div>
{% endblock %}
